.header__button{
  margin: 0;
  padding: 0;
  background-color: #000;
  width: auto;
  text-align: right;
  height: 22px;
  margin-top: 6px;
  text-decoration: none;
  color: #A9A9A9;
  text-align: right;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border: none;
}

.header__button:hover {
  opacity: .6;
  transition: .5s;
}